/* override boostrap variables*/

/* COLORS*/
$blue:    #3c99d3;
$indigo:  #4b0fac;
$purple:  #472783;
$pink:    #c43477;
$red:     #b13541;
$orange:  #f28020;
$yellow:  #d4dc23;
$green:   #6f967e;
$teal:    #007e78;
$cyan:    #6ab3be;

$gray-100: #eeeef0;


$primary:       $teal;
$secondary:     $green;

/* SPACING */
$spacer : 1rem;

/* BUTTONS */
$btn-border-radius: 2rem;
$btn-padding-x: 2rem;

/* CARDS*/
$card-border-width:   0;
$card-border-radius:  0;

$body-bg: $gray-100;


// Typography
$link-color:                $secondary;

@import '../../node_modules/bootstrap/scss/bootstrap.scss';

