<div class="app-component container-fluid">
  <div class="row">
    <aside class="col-md-3 bg-primary side-nav col-xs-12">
      <h1>{{title}}</h1>
      <h2>Menu</h2>
      <ul>
        <li>
          My cashs
        </li>
        <li class="item__exit">
          Exit
        </li>
      </ul>
    </aside>
    <section id="page-content" class="col-md-9 page-content col-xs-12">
      <div class="row">
        <div class="col page-header">
          <h3>Breadcrumb :: Home :: My Cashs</h3>
        </div>
      </div>
      <div class="row page-body bg-secondary">
        <div class="col-12 p-4">
          <router-outlet></router-outlet>
        </div>
      </div>
    </section>
  </div>
</div>